<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Information</title>
</head>
<body>
    <h1>TODAY</h1>
    <ul>
        {% for time, info in forToday.items() %}
            <li>
                <strong>{{ time }}</strong><br>
                Time: {{ info.čas }}<br>
                Temperature: {{ info.temp }}°C<br>
                Status: {{ info.status }}<br>
                Wind: {{ info.wind }} m/s<br>
            </li>
            <hr>
        {% endfor %}
    </ul>

    <h1>TOMMOROW</h1>
    <ul>
        {% for time, info in forTommorow.items() %}
            <li>
                <strong>{{ time }}</strong><br>
                Time: {{ info.čas }}<br>
                Temperature: {{ info.temp }}°C<br>
                Status: {{ info.status }}<br>
                Wind: {{ info.wind }} m/s<br>
            </li>
            <hr>
        {% endfor %}
    </ul>

    <h1>DAY AFTER TOMMOROW</h1>
    <ul>
        {% for time, info in forDayAftrTom.items() %}
            <li>
                <strong>{{ time }}</strong><br>
                Time: {{ info.čas }}<br>
                Temperature: {{ info.temp }}°C<br>
                Status: {{ info.status }}<br>
                Wind: {{ info.wind }} m/s<br>
            </li>
            <hr>
        {% endfor %}
    </ul>
</body>
</html>
